* {
    margin: 0px;
}

#blackscreen-h1, .blackscreen-nav {
    color: white;
    text-align: center;
}

.blackscreen-main {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 125dvh;
    justify-content: center;
    align-items: center;
}

#pomodoro-main {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    height: 100dvh;
    justify-content: center;
    align-items: center;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.blackscreen-nav-link {
    text-decoration: none;
    color: white;
    margin: 0px 1rem;
}

.pomodoro-nav-link {
    text-decoration: none;
    margin: 0px 1rem;
}

/* invisible header */
#header-trigger {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
}

#blackscreen-header {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    height: 80px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

#pomodoro-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    height: 80px;
}

#blackscreen-header.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

#blackscreen-header.visible {
  transform: translateY(0);
  opacity: 1;
}
/* invisible header */

.blackscreen-h2, .blackscreem-p {
    color: white;
    text-align: center;
}